<h1>Salut l'ami!</h1>

<%= link "Définis un objectif", to: Routes.objective_path(@conn, :new) %>

<h2>Objectifs</h2>

<ul>
  <%= for objective <- @objectives do %>
    <li>
      <%= objective.description %>
      <%= Enum.count(objective.objective_events) %>
      <%= form_for @conn, Routes.objective_objective_event_path(@conn, :create, objective), fn f -> %>
        <%= submit "+" %>
      <% end %>
    </li>
  <% end %>
</ul>
